@charset "utf-8";
html {
    height: 100%;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 400px;
    min-height: 100%;
    position: relative;
}

body, p {
    font-size: 18px;
    color: #333;
    line-height: 1.5em;
}

img, embed, object, video {
    max-width: 100%;
}

header, footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header, footer, section {
    display: block;
}

header, footer, section, div {
    box-sizing: border-box;
}

.fp-typography {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.fp-typography--overline {
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: .16667em;
    text-decoration: none;
    text-transform: uppercase;
}

.fp-top-app-bar {
    background-color: #303030;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
}

.fp-top-app-bar__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
}

.fp-top-app-bar--fixed {
    -webkit-transition: -webkit-box-shadow 200ms linear;
    transition: -webkit-box-shadow 200ms linear;
    transition: box-shadow 200ms linear, -webkit-box-shadow 200ms linear;
}

.fp-top-app-bar--fixed-adjust {
    padding-top: 64px;
}

.fp-top-app-bar__section {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 0;
    padding: 8px 12px;
    z-index: 1;
}

.fp-top-app-bar__section--align-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.fp-icons {
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.fp-top-app-bar__navigation-icon {
    --mdc-ripple-fg-size: 0;
    --mdc-ripple-left: 0;
    --mdc-ripple-top: 0;
    --mdc-ripple-fg-scale: 1;
    --mdc-ripple-fg-translate-end: 0;
    --mdc-ripple-fg-translate-start: 0;
    -webkit-tap-highlight-color: transparent;
    will-change: transform, opacity;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    padding: 12px;
    border: none;
    outline: none;
    background-color: transparent;
    fill: currentColor;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.fp-top-app-bar__navigation-icon {
    height: 100%;
    font-size: 3rem;
    line-height: 3rem;
}

.fp-top-app-bar .fp-typography--headline1 {
    font-size: 0.75rem
}

main {
    min-height: 100%;
    min-width: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.player-container {
    margin: auto;
    padding: 0;
    overflow: hidden;
    display: block;
}

.fp-container {
    margin: 32px auto;
}

.pl-container {
    padding-top: 0;
    margin: 32px auto;
}

.player {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    position: relative;
    text-shadow: none;
    transition: box-shadow .3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
}

.player--video {
    background: #000;
    overflow: hidden;
}

.player--video .player-controls {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 20px 5px 5px;
    position: absolute;
    right: 0;
    transition: opacity .4s ease-in-out, transform .4s ease-in-out;
    z-index: 3;
}

.player-controls {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.player-control {
    background: 0 0;
    border: 0;
    border-radius: 3px;
    color: inherit;
    cursor: pointer;
    flex-shrink: 0;
    overflow: visible;
    padding: 7px;
    position: relative;
    transition: all .3s ease;
}

.player-control--overlaid {
    border: 0;
    border-radius: 100%;
    color: #fff;
    display: none;
    left: 50%;
    padding: 15px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.player button {
    font: inherit;
    line-height: inherit;
    width: auto;
}

.player-control svg {
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .15));
}

svg:not(:root) {
    overflow: hidden;
}

.player-control svg {
    display: block;
    fill: currentColor;
    pointer-events: none;
    height: 32px;
    width: 32px;
}

.player--video .player-control svg {
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .15));
}

.player-controls > .player-control:first-child, .player-controls > .player-control:first-child + [data-plyr=pause] {
    margin-left: 0;
    margin-right: auto;
}

.player-control.player-control--pressed .icon--not-pressed, .player-control.player-control--pressed .label--not-pressed, .player-control:not(.player-control--pressed) .icon--pressed, .player-control:not(.player-control--pressed) .label--pressed {
    display: none;
}

.player-progress {
    flex: 1;
    left: 7px;
    margin-right: 14px;
    position: relative;
}

.player-video-wrapper {
    background: #000;
    border-radius: inherit;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.fp-container canvas {
    cursor: pointer;
}

.player-time {
    font-size: 11px;
}

.player-controls .player-progress, .player-controls .player-time, .player-controls > .player-control {
    margin-left: 5px;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

.player-control.player-tab-focus {
    outline: 0;
}

.player--video .player-control.player-tab-focus, .player--video .player-control:hover, .player--video .player-control[aria-expanded=true] {
    color: #fff;
}

.player--video .player-control--overlaid {
    display: block;
}

.player--playing .player-control--overlaid {
    opacity: 0;
    visibility: hidden;
}

.player-progress {
    width: 100%;
    background-color: #ddd;
    cursor: pointer;
}

.progress-bar {
    height: 4px;
    background-color: #f00;
    color: white;
}

.pl-container ul {
    list-style-type: none;
    background-color: #eeeeee;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}

li {
    padding: 10px;
    overflow: auto;
}

li:hover {
    background: #333333;
    cursor: pointer;
}

#main-play svg {
    height: 32px;
    width: 32px;
}

@media screen and (min-width: 800px) {
    .fp-top-app-bar, .fp-top-app-bar__row {
        height: 72px;
    }

    .fp-top-app-bar--fixed-adjust {
        padding-top: 72px;
    }

    .fp-top-app-bar__navigation-icon {
        width: 68px;
        font-size: 3.75rem;
        line-height: 3.75rem;
    }

    .fp-top-app-bar .fp-typography--headline1 {
        font-size: 1.25rem
    }

    .player-container {
        display: flex;
        flex-direction: row;
    }

    .pl-container {
        height: 360px;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #main-play svg {
        height: 64px;
        width: 64px;
    }
}

@media screen and (min-width: 1350px) {
    .fp-top-app-bar, .fp-top-app-bar__row {
        height: 96px;
    }

    .fp-top-app-bar__row {
        width: 1350px;
    }

    .fp-top-app-bar--fixed-adjust {
        padding-top: 96px;
        max-width: 960px;
    }

    .fp-top-app-bar__navigation-icon {
        width: 92px;
        font-size: 4.5rem;
        line-height: 4.5rem;
    }

    .fp-top-app-bar .fp-typography--headline1 {
        font-size: 1.5rem
    }
}

@media screen and (min-width: 1800px) {
    .fp-top-app-bar, .fp-top-app-bar__row {
        height: 120px;
    }

    .fp-top-app-bar--fixed-adjust {
        padding-top: 120px;
        max-width: 1200px;
    }

    .fp-top-app-bar .fp-typography--headline1 {
        font-size: 1.75rem
    }
}